models/
tensorboard/
*.pyc
pretrained_lstm.*
idsMatrix2.npy
packages/
wordVectors.npy
wordsList.npy

.ipynb_checkpoints/
Generate/weights-improvement-*
Generate/output
trained_weights/
.idea/
Generate/Untitled.ipynb

Alice/weights-improvement-*
Alice/'Epoch'
Alice/output

